<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h4>New <%= 'Project has'.pluralize(new_project_count(@new_projects_by_creators)) %> been posted.</h4>

<p>Hello <%= @user.email %>,</p>
<p>
  The following <%= 'projects are'.pluralize(new_project_count(@new_projects_by_creators)) %> new:
    <ul>
      <% @new_projects_by_creators.each do |project_creator_info| %>
        <li>
        <h4><%= project_creator_info[:creator].name %>, posted:</h4>
          <ul>
          <% project_creator_info[:projects].each do |project| %>
            <li><%= project[:name] %></li>
          <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
</p>
</body>
</html>